<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col">
          Blocus
        </div>
        <div class="col">
          <img src="http://cdn.onlinewebfonts.com/svg/img_263621.png" width="20" height="20">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          Date de début :
        </div>
        <div class="col">
          Date de fin :
        </div>
      </div>
    </div>
  </div>
</div>
