
<h3 class="tableTitle">
  {{ planningName }} management
</h3>
<div class="table-responsive">
<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Color</th>
      <th scope="col">Starts at</th>
      <th scope="col">Ends at</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let ts of timeSlots; let index = index">
      <td scope="row">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="ts.event.name">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="ts.event.color">
      </td>
      <td>

        <!--<mat-form-field style="max-width: 150px;">-->
          <!--<input matInput-->
                 <!--[matDatepicker]="picker"-->
                 <!--class="form-control"-->
                 <!--type="text"-->
                 <!--mwlFlatpickr-->
                 <!--[(ngModel)]="ts.start"-->
                 <!--placeholder="From"-->
                 <!--dateformat="Y-m-dTH:i">-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker></mat-datepicker>-->
        <!--</mat-form-field>-->

        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="ts.start"
          placeholder="Not set">
      </td>
      <td>
        <!--<mat-form-field style="max-width: 150px;">-->
          <!--<input matInput [matDatepicker]="picker2"-->
                 <!--class="form-control"-->
                 <!--type="text"-->
                 <!--mwlFlatpickr-->
                 <!--[(ngModel)]="ts.end"-->
                 <!--placeholder="To"-->
                 <!--dateformat="Y-m-dTH:i">-->
          <!--<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
          <!--<mat-datepicker #picker2></mat-datepicker>-->
        <!--</mat-form-field>-->

        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="ts.end"
          placeholder="Not set">
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="timeSlots.splice(index, 1);">
          Delete
        </button>
      </td>
    </tr>
    <tr class="notARow">
      <td>
        <button
          class="btn btn-outline-dark"
          (click)="addEvent()">
          +
        </button>
      </td>
    </tr>
  </tbody>

</table>
</div>
