<div class="row">
  <div [hidden]="!showError" class="alert alert-danger col-12 " role="alert">
    Action non permise
  </div>
</div>
<div class="row">
  <div [hidden]="!showOk" class="alert alert-success col-12 " role="alert">
    Action réussi
  </div>
</div>
<mat-form-field>
  <input [(ngModel)]="planningName" matInput placeholder="nom"><!-- nom du planning-->
</mat-form-field>
<br>
<dl-date-time-picker
    startView="day"
    maxView="year"
    minView="day"
    [(ngModel)]="startDate"
>
</dl-date-time-picker>

<br>
<dl-date-time-picker
    startView="day"
    maxView="year"
    minView="day"
    [(ngModel)]="endDate"
>
</dl-date-time-picker>

<button mat-stroked-button color="primary" (click)="createPlanning()">Créer</button>
