<div class="container">
  <div class="row center"><h2 class="col">{{planning.name}}</h2></div>
  <div class="row">
    <div class="col">
      <label>From : </label>
      <input style="font-size:10px;"
             class="form-control"
             type="text"
             mwlFlatpickr
             [(ngModel)]="planning.startDate"
             (ngModelChange)="refresh.next(); updatePlanningStartDate($event);"
             [altInput]="true"
             [convertModelValue]="true"
             dateFormat="Y-m-d"
             altFormat="F j, Y"
             placeholder="From"
      >
    </div>
    <div class="col">
      <label>To : </label>
      <input style="font-size:10px;"
             class="form-control"
             type="text"
             mwlFlatpickr
             [(ngModel)]="planning.endDate"
             (ngModelChange)="refresh.next(); updatePlanningEndDate($event);"
             [altInput]="true"
             [convertModelValue]="true"
             dateFormat="Y-m-d"
             altFormat="F j, Y"
             placeholder="To"
      >
    </div>
  </div>
</div>
