<button class="btn btn-secondary" (click)="gotoLastWeek()"><span> < </span></button>
<button class="navigation-next btn btn-secondary" (click)="goToNextWeek()"><span> > </span></button>

<mwl-calendar-week-view class="calendar-comp"
                        [viewDate]="date"
                        [weekStartsOn]="1"
                        [hourSegments]="1"
                        [hourSegmentHeight]="45"
                        [dayStartHour]="8"
                        [dayEndHour]="22"
                        [events]="timeSlots"
                        [refresh]="refresh"
                        (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-week-view>
