<div class="center">
    <div class="btn-group" role="group">
      <button (click)="setState(CalendarDetailsEnum.Events)" type="button" class="btn btn-secondary" [class.active]="currentState === CalendarDetailsEnum.Events">Events</button>
      <button (click)="setState(CalendarDetailsEnum.Stats)" type="button" class="btn btn-secondary" [class.active]="currentState === CalendarDetailsEnum.Stats">Stats</button>
    </div>
    <div *ngIf="currentState === CalendarDetailsEnum.Events" >
        <app-calendar-events></app-calendar-events>
    </div>
    <div *ngIf="currentState === CalendarDetailsEnum.Stats" >
        <app-calendar-stats></app-calendar-stats>
    </div>
</div>
