.container{
  width:100%;
  max-width: 100%;
}

.app-name {
  vertical-align: top;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.20);
  padding-top: 5px;
  padding-bottom: 5px;
  height:8vh;
}

.app-calendar {
  padding: 5px;
  overflow: auto;
}

.bottom-part {
  height: 92vh;
}

.calendar-container {
  height: 64vh;
  overflow: auto;
}

.calendar-detail-container {
  height: 25vh;
}
