

<div class="container">
    <div class="row">
        <div class="elem col-2">
          <app-user-information [user]="user"></app-user-information>
        </div>
        <div class="elem col-7">
          <app-calendar-information></app-calendar-information>
        </div>
        <div class="elem col">
          <app-member-list></app-member-list>
        </div>
    </div>
    <div class="row">
      <div class="elem col-2">
        <app-calendar-list></app-calendar-list>
      </div>
      <div class="elem col-7">
        <app-calendar></app-calendar>
      </div>
      <div class="elem col">
        <app-calendar-details></app-calendar-details>
      </div>
    </div>
</div>

