.container{
  width:100%;
  max-width: 100%;
}

.app-name {
  vertical-align: top;
}


#sidebarCollapse{
  position:absolute;
  padding:8px;
  margin:-46px 10px;
}

.app-calendar {
  padding: 5px;
}

.bottom-part {
  height: 92vh;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 92vh;
}

.sidebar-elem{
  min-height: 90.5vh;
}

#sidebar.active {
  margin-left: -250px;
}

.overflowscroll{
  overflow: auto;
}

.waiting{
  margin-top:50px;
  text-align: center;
  color: white;
}
