<div class=" background">
  <nav class="navbar navbar-dark">
    <span class="navbar-brand app-name">Scheduly</span>
    <app-user-information [user]="user"></app-user-information>
  </nav>
  <div class="container">
      <div class="row bottom-part">
      <div class="elem col-2">
        <app-calendar-list [plannings]="plannings"></app-calendar-list>
      </div>
      <div class="elem col app-calendar">
        <div class="calendar-container">
          <app-calendar></app-calendar>
        </div>
        <div class="calendar-detail-container">
          <app-calendar-details></app-calendar-details>
        </div>
      </div>
    </div>
  </div>
</div>

