<div class=" background">

  <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSideBar()">
    <span>Toggle plannings</span>
  </button>
  <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" [class.active]="displaySideBar">
      <div class="elem sidebar-elem">
        <app-calendar-list
          [plannings]="plannings"
          (deletePlanningEmitter)="deletePlanning($event)"></app-calendar-list>
      </div>
    </nav>
    <!-- Page Content if Planning Selected -->
    <div class="content container" *ngIf="planningName != null">
      <div class="row">
        <app-calendar-information></app-calendar-information>
      </div>
      <div class="row bottom-part">
        <div class="elem col-7 app-calendar overflowscroll">
            <app-calendar></app-calendar>
        </div>
        <div class="col overflowscroll">
            <app-calendar-details></app-calendar-details>
        </div>
      </div>
    </div>

    <!-- Page Content if Planning Not Selected -->
    <div class="content container" *ngIf="planningName == null">
      <div class="row bottom-part">
        <div class="col">
          <p class="waiting">Choose one of your calendar to see the details</p>
        </div>
      </div>
    </div>
  </div>
</div>



