<!--inspired by https://bootsnipp.com/snippets/featured/easy-log-in-form-->
<div >
    <div class="row">
        <div class=" offset-2 ">
            <div class="form-wrap">
                <h1>Inviter un utilisateur</h1>
                <form role="form">
                    <div class="form-group">
                        <autocomplete-component [users]="users" ></autocomplete-component>
                    </div>
                    <div class="form-group">
                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="membre">membre</mat-button-toggle>
                                    <mat-button-toggle value="invite">invité</mat-button-toggle>
                            </mat-button-toggle-group>
                                  
                    </div>
                    <input type="submit" id="btn-add-user" class="btn btn-custom btn-lg btn-block" value="Inviter">
                </form>
                <hr>
            </div>
           
        </div> <!-- /.col-xs-12 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->