<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="offset-md-3 col-sm-6">
                <div [ngClass]="{'alert' : true,
                                'alert alert-danger' : !good,
                                'alert alert-success' : good
                              }" role="alert">
                    {{messageToShow}}
                </div>
          </div>
        </div>

    <div class="row">
      <div class="offset-md-3 col-sm-6">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" [(ngModel)]="userEmail" placeholder="Adresse email" 
        required autofocus>
      </div>
    </div>


    <div class="row">
      <div class="offset-md-3 col-sm-6">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" [(ngModel)]="userPassword" placeholder="Mot de passe" 
        required >
      </div>
    </div>


    <div class="row">
      <div class="offset-md-3 col-sm-3">
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="logIn()">Connexion</button>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-lg btn-light btn-block" type="submit" (click)="signIn()">Inscription</button>
      </div>
    </div>


  </div>
</div>