<div class="container login-page">
  <div class="row">
    <div class="col-md-12">
      <span class="getmarged"><h1>Welcome on Scheduly !</h1></span>
    </div>
  </div>

  <div class="row login-form">
    <div class="col-md-12">
      <div [ngClass]="{'alert' : true,
          'alert alert-danger' : !good,
          'alert alert-success' : good
                  }"
           role="alert">
        {{messageToShow}}
      </div>
    </div>
    <div class="login-form-1 col-md-6">
      <div class="col">
        <label for="login-inputEmail" class="sr-only">e-mail</label>
        <input type="email" id="login-inputEmail" class="form-control" [(ngModel)]="loginUserEmail"
               placeholder="e-mail"
               required autofocus>
      </div>

      <div class="col">
        <label for="login-inputPassword" class="sr-only">password</label>
        <input type="password" id="login-inputPassword" class="form-control" [(ngModel)]="loginUserPassword"
               placeholder="password" required>
      </div>

      <div class="col">
        <button class="btn btn-lg btn-dark btn-block" type="submit" (click)="logIn()">Log in</button>
      </div>
    </div>

    <div class="login-form-2 col-md-6">
      <div class="login-logo">
        <img
          src="https://images.vexels.com/media/users/3/149523/isolated/preview/fd623af923cde68bc9360810ed0d5724-calendar-date-3d-icon-by-vexels.png"
          alt=""/>
      </div>
      <div class="col">
        <label for="register-inputLastName" class="sr-only">last name</label>
        <input type="text" id="register-inputLastName" class="form-control" [(ngModel)]="registerUserLastname"
               placeholder="lastname" required autofocus>
      </div>

      <div class="col">
        <label for="register-inputFirstName" class="sr-only">first name</label>
        <input type="text" id="register-inputFirstName" class="form-control" [(ngModel)]="registerUserFirstname"
               placeholder="firstname" required autofocus>
      </div>

      <div class="col">
        <label for="register-inputLogin" class="sr-only">username</label>
        <input type="text" id="register-inputLogin" class="form-control" [(ngModel)]="registerUserLogin"
               placeholder="username"
               required autofocus>
      </div>

      <div class="col">
        <label for="register-inputEmail" class="sr-only">e-mail</label>
        <input type="email" id="register-inputEmail" class="form-control" [(ngModel)]="registerUserEmail"
               placeholder="e-mail"
               required autofocus>
      </div>

      <div class="col">
        <label for="register-inputPassword" class="sr-only">password</label>
        <input type="password" id="register-inputPassword" class="form-control" [(ngModel)]="registerUserPassword"
               placeholder="Mot de passe" required>
      </div>

      <div class="col">
        <button class="btn btn-lg btn-dark btn-block" type="submit" (click)="signIn()">Sign in</button>
      </div>
    </div>
  </div>
</div>
