<!--<p>
  user-information works!
</p>-->

<div class="container">
  <div class="row">
    <div class="profilepic col-3">
      <img src="{{ user.profilePicture }}" alt="Default_user_profile_image" height="42" width="42">
    </div>
    <div class="col-5">
      <p>{{ user.firstName }}<br/>{{ user.lastName }}<br/>{{ user.login }}</p>
    </div>
    <div class="col-3">
      <img (click)="logOut()" src="{{ logOutLogo }}" alt="Default_log_out_logo" height="25" width="25">
    </div>
  </div>
</div>