.center {
  padding: 20px 0;
}

.planning-title {
  font-size: 20px;
  font-weight: bold;
}

.list-group {
  margin-top: 50px;
}

.actionsForPlanning{
  display:block;
}

.tpmrg{
  margin-top: 17px;
}
