<div class=" background">

  <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSideBar()">
    <span>Toggle plannings</span>
  </button>
  <div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar" [class.active]="displaySideBar">
      <div class="elem sidebar-elem">
        <app-calendar-list
          [plannings]="plannings"
          (deletePlanningEmitter)="deletePlanning($event)"></app-calendar-list>
      </div>
    </nav>

    <div di="content" class="container" *ngIf="currentPlanning != null">
      <mat-card class="elem">
        <div class="row bottom-part">
          <div class="col-6"> <!-- MAIN-->
            <app-main></app-main>
          </div>
          <div class="col-4">
            <app-member-list></app-member-list>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
