<div class="row">
  <div [hidden]="!showError" class="alert alert-danger col-12 " role="alert">
    Action non permise
  </div>
</div>
<div class="row">
  <div [hidden]="!showOk" class="alert alert-success col-12 " role="alert">
    Action réussie
  </div>
</div>
<mat-form-field>
  <input [(ngModel)]="planningName" matInput placeholder="nom"><!-- nom du planning-->
</mat-form-field>
<br>

<div class="col">
  <mat-form-field>
    <input matInput [(ngModel)]="startDate" [matDatepicker]="picker" placeholder="De">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<br>
<div class="col">
  <mat-form-field>
    <input matInput [(ngModel)]="endDate" [matDatepicker]="picker2" placeholder="à">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>

<button mat-stroked-button color="primary" (click)="createPlanning()">Créer</button>
