<form #addPlanning="ngForm" (ngSubmit)="onSubmit(addPlanning)" novalidate>
  <mat-form-field>
    <input ngModel name="name" matInput placeholder="nom"><!-- nom du planning-->
  </mat-form-field>
  <br>
  <mat-form-field>
    <!-- date de début du planning-->
    <input ngModel name="startDate" matInput [matDatepicker]="picker1" placeholder="date de debut">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <!-- date de fin du planning-->
    <input ngModel name="endDate" matInput [matDatepicker]="picker2" placeholder="data de fin">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <br>
  <input mat-stroked-button color="primary" type = "submit" value = "Create">
</form>
