

<div class="container">
    <div class="row">
        <div class="elem bordered col-2">
          <app-user-information></app-user-information>
        </div>
        <div class="elem bordered col">
          <app-calendar-information></app-calendar-information>
        </div>
    </div>
    <div class="row">
      <div class="elem bordered col-2">
        <app-calendar-list></app-calendar-list>
        <hr/>
        <app-member-list></app-member-list>
      </div>
      <div class="elem bordered col-7">
        <app-calendar></app-calendar>
      </div>
      <div class="elem bordered col">
        <app-calendar-details></app-calendar-details>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="setState('Events')" type="button" class="btn btn-secondary">Events</button>
          <button (click)="setState('Stats')" type="button" class="btn btn-secondary">Stats</button>
        </div>
        <div *ngIf="currentState === 'Events'" >
            <app-calendar-events></app-calendar-events>
        </div>
        <div *ngIf="currentState === 'Stats'" >
            <app-calendar-stats></app-calendar-stats>
        </div>
      </div>
    </div>
</div>

