<div class="center ">
  <div class="member-title ">Membres du planning</div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle (click)='setCurrentState(UserRole.admin)' [class.active]="currentState === UserRole.admin">Admin</mat-button-toggle>
    <mat-button-toggle (click)='setCurrentState(UserRole.membre)' [class.active]="currentState === UserRole.membre">Membre</mat-button-toggle>
    <mat-button-toggle (click)='setCurrentState(UserRole.invite)' [class.active]="currentState === UserRole.invite">Invité</mat-button-toggle>
    <mat-button-toggle (click)='setCurrentState(UserRole.all)' [class.active]="currentState === UserRole.all">Tous</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="alert alert-danger" *ngIf="!good"> {{messageError}}</div>
  <ul id="forms" class="list-group">
    <div *ngIf="currentState===UserRole.all">
      <li class="list-group-item container lielem" *ngFor="let u of memberList">
        {{u.user.firstName}} | {{u.role}}
        <button type="button" class="close" aria-label="Close" (click)="deleteUser(u)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </div>

    <div *ngIf="currentState===UserRole.membre">
      <li class="list-group-item container lielem" *ngFor="let u of memberListMember">
        {{u.user.firstName}} | {{u.role}}
        <button type="button" class="close" aria-label="Close" (click)="deleteUser(u)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </div>

    <div *ngIf="currentState===UserRole.admin">
      <li class="list-group-item container lielem" *ngFor="let u of memberListAdmin">
        {{u.user.firstName}} | {{u.role}}
        <button type="button" class="close" aria-label="Close" (click)="deleteUser(u)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </div>

    <div *ngIf="currentState===UserRole.invite">
      <li class="list-group-item container lielem" *ngFor="let u of memberListInvite">
        {{u.user.firstName}} | {{u.role}}
        <button type="button" class="close" aria-label="Close" (click)="deleteUser(u)">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
    </div>

  </ul>
</div>